@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Source+Sans+Pro:wght@300&display=swap');

/* Global Styles */
:root {
  --primary-color: #C21500;
  --primary-text-color: #333333;
  --secondary-text-color: #757575;
}
h1,
h3,
h5 {
  color: var(--primary-text-color);
  font-family: 'Source Sans Pro', sans-serif;
}
h2,
h4,
h6,
p {
  color: var(--secondary-text-color);
  font-family: 'Montserrat', sans-serif;
}

/* Styling header */
#header {
  background-image: linear-gradient(to left, rgba(194, 21, 0, .5) , rgba(255, 197, 0, .5)), url('./homepage/resources/home-bg-slideshow1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* Styling main body */

/* Styling footer */